@import "../../styles/tokens.scss";
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;

.pageContainer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 40px var(--spacing-section-x);
  display: grid;
  background-color: #eeeff2;

  grid-template-columns: 1fr;
  gap: 40px;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 3fr;
  }
}

.modelGroup {
  margin-bottom: 60px;
}

.modelGroupTitle {
  margin-bottom: 32px;
  color: #111;
  font-weight: 600 !important;
}

.sidebar {
  background-color: #eeeff2;
  border-radius: 16px;
  padding: 24px;
  height: fit-content;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-m);

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: 1fr 1fr;
  }
}
